{% extends 'base_layout.html' %}

{% block title %}
    Your Cart
{% endblock %}

{% block content %}

<!--IF TRANSACTION QUERY NOT EMPTY-->
<h1>Your Cart</h1>

<!--IF BOOK QUERY NOT EMPTY-->
<h3>Books</h3>
<table>
    <thead>
    <tr>Date</tr>
    <tr>Book Title</tr>
    <tr>Price</tr>
    </thead>
    <tbody>
    <!--LINK TO BOOK-->
    <!--REMOVE BOOK-->
    </tbody>
</table>

<!--IF BIKE QUERY NOT EMPTY-->
<h3>Bikes</h3>
<table>
    <thead>
    <tr>Date</tr>
    <tr>Bike</tr>
    <tr>Price</tr>
    </thead>
    <tbody>
    <!--LINK TO BIKE-->
    <!--REMOVE BIKE-->
    </tbody>
</table>

<!--IF ITEM QUERY NOT EMPTY-->
<h3>Items</h3>
<table>
    <thead>
    <tr>Date</tr>
    <tr>Item</tr>
    <tr>Price</tr>
    </thead>
    <tbody>
    <!--LINK TO ITEM-->
    <!--REMOVE ITEM-->
    </tbody>
</table>

<!--ELSE DISPLAY EMPTY-->
{% endblock %}